/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

ul {list-style: none;}

/* Default layout */

/* 				 Default Layout: 992px. 
					 Gutters: 24px.
					 Outer margins: 48px.
					 Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896
*/

body {
  padding: 20px;
	color: #333;
 	background: #f7f7fa;
  font-size: 14px;
  font-family: HelveticaNeue, arial, sans-serif;
 	-webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 #fff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin: 0 0 1.5em; 
  color: #333;
}

p.abstract {
  font-size: 13px;
  color: #444;
}

a {
  color: #2382c8;
	text-decoration: none;
}

a:hover {
  color: #2382c8;
  text-decoration: underline;
}

header h1 a {
  color: #333;
}

header h1 a:hover{
  color: #333;
  text-decoration: none;
}

.vcard
{
  color: #555;
  line-height: 1.5em;
}

/* About */

section {
  margin: 40px auto;
	width: 620px;
}

#about h1 {
  font-size: 4em; 
  line-height: 2em; 
  padding: 0; 
  margin: 0.7142em 0 0.3357em;
  color: #444;	
	text-shadow: 1px 1px 1px #FFF;	
}

#about h1 a {
  color: #444;
  text-decoration: none;
  font-weight: 700;
}

#about h1 a:hover {
  color: #222;
  background-color: transparent;
  text-decoration: none;
}

#about img {
  width: 150px;
  float: right;
  border: 6px solid #FFF;
  margin-top: 30px;
}

#about ul li {
  line-height: 1.8em;
  font-size: 1.2em;
  color: #444;
}

/* Other sections */

#contact p, #background p, #research p, #teaching p, #publications p {
  margin-bottom: 20px;
	font-size: 110%;
	font-weight: 300;
	line-height: 1.5; 
}

#contact ul li, #background ul li, #research ul li, #teaching ul li, #publications ul li {
  line-height: 1.8em;
  font-size: 14px;
  color: #444;
}

/* Headings */

h2 {
  color: #444;
  font-size: 24px; 
  line-height: 2em; 
  padding: 0; 
  margin: 0.9523em 0 0.4476em; 
  font-weight: 400;
}

h3 {
  color: #444;
  font-size: 20px; 
  line-height: 1em; 
  padding: 0; 
  margin: 1.5332em 0 0.7300em;
}

h4 {
  font-size: 16px;
  margin: 1.5em 0 1.5em;
  padding-top: 0.5em;
  color: #333;
}

ul.publications {
  list-style-type: disc;
  padding-bottom: 5px;
}

ul.publications li {
  margin-left: 20px;
}

section#tabs, section#about
{
  border-bottom: none;
}

section#tabs{
  margin: 0 auto;
}

section#tabs ul
{
  padding-left:9px;
  position:relative;
  width:auto;
  border-bottom:1px solid #E5E5E5;
  clear:both;
  height:30px;
  width:auto;
}

section#tabs li
{
  display:inline;
  line-height:1;
}

section#tabs li a
{
  border-bottom-left-radius:0 0;
  border-bottom-right-radius:0 0;
  border-top-left-radius:4px 4px;
  border-top-right-radius:4px 4px;
  display:inline;
  float:left;
  line-height:23px;
  margin:0;
  overflow:hidden;
  padding:4px 10px 3px;
  text-shadow:#FFF 0 1px 0;
  width:auto;
/*  font-size: 13px;*/
}

section#tabs li a:hover
{
  background:#ddd;
  text-decoration:none;
}

section#tabs li.active
{
  padding-bottom:3px;
}

section#tabs li.last
{
  float: right;
}

section#tabs li.active a
{
  background:#FFF;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid #f7f7fa;
  border-top:1px solid #E5E5E5;
  border-left:1px solid #E5E5E5;
  border-right:1px solid #E5E5E5;
  color:#333;
  font-weight:600;
  padding-top:3px;
}
